//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Poppins";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1240;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

body {
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	color: rgba(233, 222, 195, 1);
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;

	&.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
/*.container {
	max-width: $mw + px;
	margin: 0px auto;
	width: 100%;

	@media (max-width: $md1+px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}*/

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
}


//<MAINBLOCK>====================================================================================================

.mainblock {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 234px 0px 0px 0px;

	&__container {
		width: 100%;
		margin: 0 auto;
	}

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -2;
	}

	&__content {
		max-width: 1240px;
		height: 100%;
		margin: 0px auto;
		padding: 0px 5px;
		position: relative;

		@media (max-width: $md4+px) {
			padding: 0px 15px;
		}
	}

	&__subtitle {
		font-family: Lora;
		font-size: 35px;
		font-weight: 400;
		line-height: 45px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(255, 255, 255, 1);

		@media (max-width: $md4+px) {
			font-size: 28px;
		}

		transform: translate(0px, -120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
	}

	&__title {
		font-family: Playfair Display;
		font-size: 60px;
		font-weight: 700;
		line-height: 80px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(226, 162, 59, 1);
		margin: 0px 0px 14px 0px;

		@media (max-width: $md4+px) {
			font-size: 40px;
			line-height: 60px;
		}

		transform: translate(0px, 120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			visibility: visible;
			opacity: 1;
		}
	}

	&__text {
		max-width: 814px;
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(233, 222, 195, 1);
		margin: 0px 0px 30px 0px;

		@media (max-width: $md4+px) {
			font-size: 18px;
			line-height: 28px;
		}

		transform: translate(0px, 120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0.3s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
	}

	&__button {
		transform: translate(-120%, 0px);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0.4s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
	}

	&__btn {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(28, 19, 17, 1);
		padding: 13px 56px;
		border-radius: 5px;
		background-color: rgba(233, 222, 195, 1);
		transition: all 0.3s ease 0s;
		margin: 0px 0px 280px 0px;

		&:hover {
			background-color: rgba(226, 162, 59, 1);
			color: white;
		}
	}
}

//</MAINBLOCK>====================================================================================================
//<SPONSORS>====================================================================================================

.spons {
	width: 100%;
	margin: 0px 0px 0px 0px;

	&__text {
		font-size: 56px;
		color: rgb(0, 0, 0);
		z-index: 32423;
	}

	&__container {}

	&__img1 {
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}

	&__img2 {
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0.2s;

		&.active {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}

	&__img3 {
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0.2s;

		&.active {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}

	&__img4 {
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 131px 0px 93px 0px;
		width: 100%;
		height: 100%;

		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}

		img {
			max-width: 100%;
		}
	}
}


//</SPONSORS>====================================================================================================
//<METAVERSE>====================================================================================================

.metaverse {
	background-color: rgba(21, 24, 31, 1);

	&__container {
		max-width: 1240px;
		margin: 0 auto;
	}

	&__content {
		margin: 0px 5px;
	}

	&__title {
		position: relative;
		font-family: Playfair Display;
		font-size: 60px;
		font-weight: 700;
		line-height: 80px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(226, 162, 59, 1);
		padding: 93px 0px 40px 0px;
		margin: 0px 0px 71px 0px;

		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			background: url('../img/title_decor.png') 50% no-repeat;
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 156px 0px;
		gap: 20px;

		@media (max-width: $md1+px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		max-width: 251px;
		display: flex;
		flex: 0 1 25%;
	}
}

.item-metaverse {

	&__body {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 5px;
		border: 2px solid #A06930;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		margin: 58.7px 0px 42px 0px;
	}

	&__content {
		width: 213px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 0px 10px 25px 10px;
	}

	&__title {
		font-family: Playfair Display;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(226, 162, 59, 1);
		margin: 0px 0px 20px 0px;
	}

	&__text {
		line-height: 23px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(233, 222, 195, 1);
	}
}

._item-metaverse1 {
	transform: translate(-120%, 0px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._item-metaverse2 {
	transform: translate(-120%, 0px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0.2s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._item-metaverse3 {
	transform: translate(-120%, 0px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0.4s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._item-metaverse4 {
	transform: translate(-120%, 0px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0.6s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

.item-metaverse__icon1 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0.6s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

.item-metaverse__icon2 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0.8s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

.item-metaverse__icon3 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 1s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

.item-metaverse__icon4 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 1.2s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

._title1 {
	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0.6s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._text1 {
	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0.6s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._title2 {
	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0.8s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._text2 {
	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0.8s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._title3 {
	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 1s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._text3 {
	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 1s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._title4 {
	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 1.2s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

._text4 {
	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 1.2s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}


//</METAVERSE>====================================================================================================
//<IPSUM>====================================================================================================

.ipsum {

	&__container {
		max-width: 1240px;
		margin: 0 auto;
	}

	&__content {
		padding: 179px 0px 0px 0px;
		margin: 0px 10px 0px 10px;

		@media (max-width: $md2+px) {
			padding: 60px 0px 0px 0px;
		}
	}

	&__rows {
		display: flex;
		flex-direction: column;
	}

	&__row {
		margin: 0px 0px 140px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 0px 0px;
		}
	}

	&__columns {
		display: flex;

		@media (max-width: $md2+px) {
			display: block;
		}
	}

	&__column {
		flex: 1 1 50%;
	}
}

.ipsum-columns__rev {
	@media (max-width: $md2+px) {
		display: flex;
		flex-direction: column-reverse;
	}
}

.column-ipsum {
	position: relative;

	@media (max-width: $md2+px) {
		margin: 0px 0px 20px 0px;
	}

	&__content {
		max-width: 513px;

		@media (max-width: $md2+px) {
			max-width: 700px;
			margin: 0 auto;
		}
	}

	.top-content {
		margin: 0px 10px 0px 0px;

		@media (max-width: $md2+px) {
			display: flex;
			flex-direction: column;
			margin: 0px auto;
		}
	}

	&__title {
		font-family: Playfair Display;
		font-size: 50px;
		font-weight: 700;
		line-height: 67px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(226, 162, 59, 1);
		margin: 0px 0px 35px 0px;

		@media (max-width: $md3+px) {
			font-size: 40px;
			line-height: 47px;
		}

		transform: translate(0px, 120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 33px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0px 0px 20px 0px;

		transform: translate(0px, 120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0.4s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
	}

	&__images {}

	&__button1 {
		display: inline-block;
		transform: translate(0px, 120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0.8s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
	}

	&__btn {

		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		padding: 13px 63px;
		color: rgba(28, 19, 17, 1);
		border-radius: 5px;
		background-color: rgba(226, 162, 59, 1);
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: rgba(177, 167, 156, 1);
			color: white;
		}

		@media (max-width: 400px) {
			width: 100%;
			text-align: center;
		}
	}
}

.image-ipsum {
	width: 100%;

	@media (max-width: $md2+px) {
		display: inline-flex;
		align-items: flex-start;
		justify-content: center;
		gap: 10px;
	}

	@media (max-width: $md3+px) {
		flex-wrap: wrap;
	}
}

.image-ipsum1 {
	position: absolute;
	top: 20px;
	left: 0;

	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: $md2+px) {
		position: static;
	}

	img {
		max-width: 231px;
		width: 100%;
	}
}

.image-ipsum2 {
	position: absolute;
	top: 190px;
	left: 240px;

	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: $md2+px) {
		position: static;
	}

	img {
		max-width: 146px;
		width: 100%;

		@media (max-width: $md2+px) {
			max-width: 231px;
			height: 231px;
		}
	}
}

.image-ipsum3 {
	position: absolute;
	top: -60px;
	right: 40px;

	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: $md2+px) {
		position: static;
	}

	img {
		max-width: 231px;
		width: 100%;
	}
}

.image-ipsumrev {
	width: 100%;

	@media (max-width: $md2+px) {
		display: inline-flex;
		align-items: flex-start;
		justify-content: center;
		gap: 10px;
	}

	@media (max-width: $md3+px) {
		flex-wrap: wrap;
	}
}

.image-ipsum1rev {
	position: absolute;
	top: -10px;
	left: -15px;

	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: $md2+px) {
		position: static;
	}

	img {
		max-width: 231px;
		width: 100%;
	}
}

.image-ipsum2rev {
	position: absolute;
	top: 80px;
	right: 185px;

	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0.2s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: $md2+px) {
		position: static;
	}

	img {
		max-width: 231px;
		width: 100%;
	}
}

.image-ipsum3rev {
	position: absolute;
	top: -10px;
	right: -30px;

	transform: translate(0px, 120%);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: $md2+px) {
		position: static;
	}

	img {
		max-width: 231px;
		width: 100%;
	}
}

.contentrev {
	margin: 0px 0px 0px 80px;

	@media (max-width: $md2+px) {
		margin: 0 auto;
		padding: 0px 0px 40px 0px;
	}
}

//</IPSUM>====================================================================================================
//<TOKEN>====================================================================================================

.token {
	position: relative;

	&__container {
		max-width: 1240px;
		margin: 0 auto;
	}

	&__content {
		padding: 130px 10px 120px 10px;

		@media (max-width: $md4+px) {
			padding: 70px 10px 70px 10px;
		}
	}

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -2;
		background: url('../img/Token/background.png') 100% / cover no-repeat;
	}

	&__rows {}

	&__row {}
}

.row-token {

	&__content {
		@media (max-width: $md2+px) {
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__contentbottom {
		display: flex;
		justify-content: space-between;
	}

	&__columns {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $md2+px) {
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__column {}
}

.column-token {
	margin: 0px 0px 95px 0px;

	@media (max-width: $md2+px) {
		margin: 0px 0px 150px 0px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 110px 0px;
	}

	&__content {
		max-width: 631px;
		margin: 0px 10px 0px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 0px 0px;
		}
	}

	&__title {
		font-family: Playfair Display;
		font-size: 50px;
		font-weight: 700;
		line-height: 67px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(226, 162, 59, 1);
		margin: 0px 0px 20px 0px;

		transform: translate(0px, 120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
	}

	&__text {
		border-radius: 5px;
		background-color: #a06a30df;
		font-size: 20px;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(233, 222, 195, 1);
		padding: 0px 0px 0px 5px;

		transform: translate(0px, 120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0.3s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}

		@media (max-width: $md2+px) {
			padding: 10px;
			font-size: 26px;
		}
	}

	&__item {}
}

.token-item {
	display: flex;
	margin: 0px 10px 0px 0px;
	border-radius: 5px;
	width: 380px;

	@media (max-width: $md2+px) {
		margin: 0px 0px 150px 0px;
		justify-content: center;
		width: 100%;
		max-width: 500px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 110px 0px;
	}

	&:last-child {
		margin: 0px 0px 0px 0px;
	}

	&__body {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(226, 162, 59, 0.5));
		position: relative;
		border-radius: 5px;
		display: flex;
		flex-direction: column;

		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}

		@media (max-width: $md2+px) {
			width: 100%;
		}
	}

	&__image {
		height: 220px;
		position: relative;
		text-align: center;

		img {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
		}
	}

	&__content {
		text-align: center;
		border-radius: 5px;
		background: rgba(0, 0, 0, 0.6);
		padding: 10px 23px 20px 23px;
		flex: 1 1 auto;
	}

	&__title {
		font-size: 21px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: 0em;
		color: rgba(226, 162, 59, 1);
		margin: 0px 0px 10px 0px;

		@media (max-width: $md2+px) {
			font-size: 30px;
		}

	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0em;
		color: rgba(233, 222, 195, 1);

		@media (max-width: $md2+px) {
			font-size: 24px;
			line-height: 34px;
		}

	}
}

//</TOKEN>====================================================================================================
//<FORMBLOCK>====================================================================================================

.formblock {
	background: url('../img/formblock/background.jpg') 100% / cover no-repeat;

	&__container {
		max-width: 1240px;
		margin: 0 auto;
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 0px 10px 0px 10px;
		padding: 145px 0px 140px 0px;

		@media (max-width: $md1+px) {
			align-items: center;
			justify-content: center;
		}
	}

	&__content {
		max-width: 475px;

		@media (max-width: 520px) {
			text-align: center;
		}
	}

	&__title {
		font-family: Playfair Display;
		font-size: 30px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0em;
		color: rgba(226, 162, 59, 1);
		margin: 0px 0px 35px 0px;

		transform: translate(120%, 0px);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
	}

	&__form {
		display: flex;

		transform: translate(-120%, 0px);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}

		@media (max-width: 520px) {
			flex-direction: column;
		}
	}
}

input[type='email'] {
	color: rgba(186, 186, 188, 1);
}

.emailform {

	&__input {
		max-width: 310px;
		border-radius: 5px;
		padding: 13px 66px 13px 66px;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0em;
		background-color: rgba(233, 222, 195, 1);

		@media (max-width: 520px) {
			margin: 0px 0px 10px 0px;
		}
	}
}

.button {

	&__form {}
}

.form {

	&__button {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0em;
		text-transform: uppercase;
		background-color: rgba(226, 162, 59, 1);
		color: rgba(28, 19, 17, 1);
		padding: 13px 40px 13px;
		border-radius: 5px;
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: rgb(194, 140, 53);
			color: white;
		}
	}
}

//</FORMBLOCK>====================================================================================================
//<MAP>====================================================================================================

.map {
	background-color: rgba(21, 24, 31, 1);

	&__container {
		max-width: 1240px;
		margin: 0 auto;
	}

	&__body {
		margin: 83px 10px 50px 10px;

		@media (max-width: $md2+px) {
			margin: 53px 10px 50px 10px;
		}
	}

	&__content {}

	&__columns {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 60px 0px;

		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 50%;
	}

	&__text {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(233, 222, 195, 1);
		margin: 0px 0px 57px 0px;

		transform: translate(0px, 120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0.2s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}

		@media (max-width: $md2+px) {
			text-align: center;
		}

		@media (max-width: $md4+px) {
			font-size: 20px;
		}
	}

	&__icons {
		display: flex;
		justify-content: start;

		@media (max-width: $md2+px) {
			justify-content: center;
		}
	}

	&__icon {
		margin: 0px 28px 0px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 22px 0px 0px;
		}
	}

	&__iconscale {
		&:hover {
			transition: all 0.3s ease 0s;
			transform: scale(1.3);
		}
	}
}

.column-map {

	&__content {
		@media (max-width: $md2+px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0px 0px 40px 0px;
		}
	}

	&__logo {
		display: inline-block;
		margin: 0px 0px 30px 0px;

		img {
			animation: rotate 10s linear infinite;
		}
	}

	&__logoanim {
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}

	&__text {
		max-width: 370px;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(233, 222, 195, 1);

		transform: translate(0px, 120%);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}

		@media (max-width: $md3+px) {
			max-width: 100%;
		}

		@media (max-width: $md4+px) {
			font-size: 18px;
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;

		@media (max-width: $md2+px) {
			justify-content: center;
		}

		@media (max-width: $md3+px) {
			justify-content: space-between;
		}

		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}

	&__item {
		@media (max-width: $md2+px) {
			margin: 0px 80px 0px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 40px 0px;
		}
	}
}


.item-map {

	&__title {
		font-family: Playfair Display;
		font-size: 21px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(226, 162, 59, 1);
		margin: 0px 0px 25px 0px;

		transform: translate(-120%, 0px);
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}

		@media (max-width: $md4+px) {
			font-size: 26px;
		}
	}

	&__link {
		margin: 0px 0px 20px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		a {
			font-size: 16px;
			letter-spacing: 0em;
			text-align: left;
			color: rgba(233, 222, 195, 1);

			&:hover {
				text-decoration: underline;
			}

			@media (max-width: $md4+px) {
				font-size: 19px;
			}
		}
	}
}

.map-link1 {
	transform: translate(-120%, 0px);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0.2s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

.map-link2 {
	transform: translate(-120%, 0px);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0.4s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}

.map-link3 {
	transform: translate(-120%, 0px);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0.6s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}


.icon1 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

.icon2 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0.2s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

.icon3 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0.4s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

.icon4 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0.6s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

.icon5 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 0.8s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

.icon6 {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease 1s;

	&.active {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}



//</MAP>====================================================================================================